<!DOCTYPE html>

<HTML>
    <HEAD>
        <title>404</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </HEAD>
        <body>
            <div class="main-content">
                {{>header}}   
                {{errorMessage}}
            </div>

             {{>footer}}   
        </body>
    
</HTML>