<!DOCTYPE html>

<HTML>
    <HEAD>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </HEAD>
        <body>
            <div class="main-content">
                {{>header}} 
                <p>{{helpText}}</p>
            </div>              
                {{>footer}}   
        </body>

</HTML>